@font-face {
  font-family: "WorkSans";
  src: url("../../static/fonts/WorkSans-Regular.ttf")   format("ttf");
}
@font-face {
  font-family: "WorkSans-Light";
  src: url("../../static/fonts/WorkSans-Light.ttf")   format("ttf");
}
@font-face {
  font-family: "WorkSans-SemiBold";
  src: url("../../static/fonts/WorkSans-SemiBold.ttf")   format("ttf");
}
@font-face {
  font-family: "Afterglow-Regular";
  src: url("../../static/fonts/Afterglow-Regular.ttf")   format("ttf");
}

.worksans {
  font-family: 'WorkSans', Arial, Helvetica, sans-serif;
}
.worksans--light {
  font-family: 'WorkSans-Light', Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.worksans--semibold {
  font-family: 'WorkSans-SemiBold', Arial, Helvetica, sans-serif;
  font-weight: 200;
}
.afterglow {
  font-family: 'Afterglow-Regular', Arial, Helvetica, sans-serif;
  font-weight: 200;
}