@import "fonts.scss";
@import "helpers.scss";
@import "transitions.scss";
@import "breakpoints.scss";
@import "colors.scss";
@import "shadows.scss";
@import "buttons.scss";

html {
  overflow: hidden;
}

body {
  position: relative;
  margin: auto !important;
  background-color: white;
}

.container {
  max-width: 1500px;
  width: 80%;
  margin: auto;
}

.container--narrow {
  max-width: 1200px;
  width: 80%;
  margin: auto;
}

.container--tall {
  min-height: 100vh;
}

.container--center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
}